doctype html
html
  head
    title='Ligue Quatro - Playground'

    meta(charset='UTF-8')
    meta(name='viewport', content='initial-scale=1, width=device-width')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
    link(href='styles/playground.css', rel='stylesheet')

  body
    section(id='playground' class='section playground')
      aside(class='sidebar playground-sidebar')
        h1(class='title')
          | Ligue
          br
          | Quatro

        h3(class='subtitle')
          | Playground

        p(class='description')
          | Olá
          b
            |  #{ user.login }
            a(href='/auth/logout' class='playground-logout')=' (sair), '
          | ao salvar você irá enviar/atualizar o seu algoritmo para o desafio.

        div(class='playground-actions')
          button(id='test-algorithm-button' class='button')
            | Testar
          button(id='submit-algorithm-button' class='button button--black')
            | Salvar

      div(class='playground-editor')
        textarea(id='playground-textarea' data-username='#{ user.login }' placeholder='Escreva o seu algoritmo...' spellcheck='false' class='playground-textarea')
        button(id='reset-algorithm-button' class='button playground__reset-button')
          | Resetar

    script(src='scripts/playground.js')
