doctype html
html
  head
    title='Ligue Quatro - Playground'

    meta(charset='UTF-8')
    meta(name='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(itemprop='image' content='//braziljs.globo.com/thumbnail.png')
    meta(name='twitter:image' content='//braziljs.globo.com/thumbnail.png')
    meta(property='og:image' content='//braziljs.globo.com/thumbnail.png')

    meta(itemprop='name' content='Ligue Quatro')
    meta(itemprop='description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(name='twitter:title' content='Ligue Quatro')
    meta(name='twitter:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')

    meta(property='og:title' content='Ligue Quatro')
    meta(property='og:description' content='Baseado no jogo Ligue Quatro, o desafio é criar um algoritmo capaz de realizar a melhor jogada.')
    meta(property='og:url' content='https://braziljs.globo.com')

    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='default')
    meta(name='viewport', content='initial-scale=1, width=device-width')

    link(href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700', rel='stylesheet')
    link(href='styles/playground.css', rel='stylesheet')

  body
    section(id='playground' class='section playground')
      aside(class='sidebar playground-sidebar')
        h1(class='title')
          a(href='/')
            | Ligue
            br
            | Quatro

        h3(class='subtitle')
          | Playground

        p(class='description')
          | Olá
          b
            |  #{ user.login },
          if user.rank
            |  o seu algoritmo é o
            b
              |  ##{ user.rank } colocado
            | .
          else
            |  o seu algoritmo ainda não foi classificado.
          br
          br
          | Ao salvar você irá enviar/atualizar o seu algoritmo para o desafio.

        div(class='playground-actions')
          button(id='test-algorithm-button' class='button' title='Testar o seu algoritmo.')
            | Testar

          button(id='submit-algorithm-button' class='button button--black' title='Salvar algoritmo para a classificação.')
            | Salvar

      div(id='playground-editor' class='playground-editor')
        textarea(id='playground-textarea' data-username='#{ user.login }' placeholder='Escreva o seu algoritmo...' spellcheck='false' class='playground-textarea')

        button(id='last-save--button' title='Carregar o seu último jogo.' class='button playground__last-save-button')
          | Último salvo

        button(id='reset-algorithm-button' title='Carregar o template inicial do algoritmo.' class='button playground__reset-button')
          | Template

    script(src='scripts/playground.js')
